$off-grey-brown: #645A53;
$dark-cream: #9A9083;
$grey-brown: #837D78;
$dark-grey-brown: #4E4A43;
$dark-gold: darkgoldenrod;
$darker-gold: #605947;
$phone: '(min-width: 345px)';
$phones_md: '(min-width: 375px)';
$tablet-portrait: '(min-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)';

@mixin respond-to($media) {
     @media only screen and #{$media}{
        @content;
    }
}

a{
	color: #fff;
}

.small {
    width: 50% !important;
    margin: 20px auto;
}

body {
    font-family: 'Boogaloo', cursive;
    // font-family: 'Fredericka the Great', cursive;
    min-width: 320px;
    background-color: #010001;
}

.storage {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 2px solid pink;
    color: #fff;
    width: 50%;
    text-align: center;
}

.s2 {
    top: 30px;
}

.s3 {
    @extend .storage;
    background-color: red;
    top: 60px;
}

.s4 {
    @extend .storage;
    top: 90px;
    background-color: forestgreen;
}

.s5 {
    @extend .storage;
    top: 120px;
    background-color: orange;
}

.showCreated {
    width: 100%;
    position: absolute;
    top: 150px;
    background-color: #fff;
    min-height: 30px;

    .created {
        border: 3px solid orange;
        height: 30px;
        margin-bottom: 10px;
    }
}
// extended classes
.buttonPadding {
    padding: 20px;
    text-align: center;
    width: 100%;
    border: 0;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: all 0.5s;
    transform-origin: left;
    outline: none;
    color: #f2f2f2;
    font-weight: bold;
    text-transform: capitalize;

    &:hover {
        font-weight: bold;
        color: #fff;
        background-color: $dark-grey-brown;
        border: 1px solid #fff;
    }
}

footer {
    padding-top: 10px;
}

.social-media {
    width: 75%;
    margin: 0 auto;
    text-transform: capitalize;

    ul {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        padding: 0 50px;
    }

    li {
        width: 25%;
        display: inline;
        text-align: center;
        padding: 5px;
        // border: 1px solid black;
        font-size: 1.15em;
        @include respond-to ($phone) {
            font-size: 1.5em;
        }
    }

    p {
        padding: 10px;
    }
}

.contentBox {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    // border: 3px solid;
    position: absolute;
    left: 0 !important;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
}

.inputField{
  // margin-top: 40%;
  width: 100%;
  margin: 20% auto;
  border: 2px solid $darker-gold;
  border-radius: 10px;
  height: 45px;
}
// extended classes

.home-screen {
    height: 100%;
    background-color: $dark-grey-brown;
    .content {
        @extend .contentBox;
    }
}

.title {
    text-align: center;
    color: $dark-gold;
    width: 100%;
    margin-top: 20%;
    @include respond-to($phone) {
        margin-top: 20%;
        // margin: 0 auto;
        padding-top: 0;
        padding-bottom: 20px;
    }
}

.titles {
    width: 50%;
    margin: 0 auto;

    p {
        // border: 1px solid green;
        text-transform: capitalize;
    }
}
//end of titleS

.underline {
    height: 50px;
    background-color: $dark-cream;
    width: 30px;
}

.h1-cus {
    font-size: 3em;
    width: 100%;
    text-align: right;
    @include respond-to ($phone) {
        font-size: 5em;
    }
}

.h2-cus {
    font-size: 1.8em;
    width: 100%;
    text-align: left;

    &:nth-child(2) {
        text-align: center;
    }
    @include respond-to ($phone) {
        font-size: 3em;
    }
}

.home-buttons {
    width: 60%;
    margin: 0 auto;
    text-transform: capitalize;
    padding-top: 15px;
    font-size: 1.2em;

    .create {
        background-color: $dark-cream;
        @extend .buttonPadding;
    }

    .load {
        background-color: $off-grey-brown;
        @extend .buttonPadding;
		a{
			color: #fff;
		}
    }
}
//end of home-buttons

.home-footer {
    @extend footer;
    color: #f2f2f2;
    @include respond-to ($phone) {
        margin-top: 10%;
        // border: 1px solid blue;
    }
}

.create-category {
    position: absolute;
    top: 0;
    display: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: $dark-cream;

    .content {
        @extend .contentBox;
        // border-color: orange;
    }
}

.categories-header {
    width: 100%;
    // height: 100px;
    text-align: center;
    color: $dark-gold;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;

    h1 {
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        background-color: $dark-grey-brown;
        border-top: 3px solid $off-grey-brown;
        border-bottom: 3px solid $off-grey-brown;
    }

    p {
        padding: 15px;
        color: $off-grey-brown;
        font-size: 0.9em;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    @include respond-to ($phone) {
        h1 {
            margin-bottom: 30px;
        }

        p {
            font-size: 1.2em !important;
            margin-bottom: 50px;
        }
    }
}

.create-info {
    width: 100%;
    // position: absolute;
    left: 0;
    // border: 1px solid green;
    text-transform: capitalize;
    text-align: center;
}

.crteBtn {
    height: 70px;
    background-color: $darker-gold;
    margin-bottom: 2px;
    position: relative;
    z-index: 10;

    .icon {
        display: inline-flex;
        width: 20%;

        span {
            // border: 1px dashed orange;
            position: relative;
            top: 2px;
            left: 40%;
        }
    }

    p {
        // float: right;
        display: inline-flex;
        // border: 1px solid blue;
        padding-left: 50px;
        margin-top: 21px;
        width: 78%;
        position: relative;
        z-index: 1;
        text-align: center !important;
		a{
			width: 78%;
			color: #fff;
		}
        span {
            // border: 1px dashed green;
            margin-left: -37px;
            width: 100%;
        }
    }

    @include respond-to ($phone) {
        height: 100px;

        p {
            margin-top: 39px;
        }
    }
}

.background_slide {
    position: absolute;
    height: inherit;
    z-index: -1;
    width: 20%;
    transition: all 0.5s;
    z-index: 0;
    // background-color: red;
    &:hover {
        width: 100%;
    }
}

.cat-create {
    .background_slide {
        background-color: $dark-gold;
    }
}

.cat-list {
    .background_slide {
        background-color: $dark-gold;
    }
}

.more {
    margin-top: -2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
}

.sbtn {
    width: 50%;
    padding: 20px;
    background-color: $dark-grey-brown;
    color: #f2f2f2;
    // font-weight: bold;
    @include respond-to ($phone) {
        height: 85px;

        p {
            margin-top: 14px;
        }
    }
}

.allCat {
    border-right: 1px solid $off-grey-brown;
}

.content {
    @extend .contentBox;
    // overflow-x: hidden;
}
// categories scss code

.category-screen {
    width: 100%;
    height: 100%;
    background-color: $dark-cream;

    footer {
        margin-top: 20px;
    }
}

.cat-input {
  @extend .inputField;
  width: 80%;
  margin-top: 40%;
}

.categories-list {
    width: 100%;
    // border: 2px solid orange;
}

.inputBox {
    width: 100%;
    // height: 50px;
    padding: 20px;
    box-shadow: 0 0 20px;
    font-size: 1.2em;
    padding-right: 80px;
    border-radius: 10px;
    outline-color: $dark-cream;
    color: $dark-gold!important;
    text-shadow: 0 0 0 #000 !important;
    -webkit-text-fill-color: transparent !important;
}

.input-buttons {
    position: relative;
    float: right;
    top: -50.5px;
    right: 10px;
}

span.fa-times-circle-o {
    color: darkred;
    top: 7px;
    left: -25px;
    position: absolute;
    font-size: 1.4em;
}

span.fa-plus-circle {
    color: forestgreen;
    font-size: 2.3em;
}

.categories-list {
    width: 80%;
    margin: 0 auto;

    h4 {
        padding-bottom: 20px;
        // border-bottom: 2px solid $dark-grey-brown;
        margin-bottom: 20px;
    }
}

.list-cards{
  margin-top: 20px;
}

.list-cardsul, .list-cards{
    // border: 1px solid orange;
  height: auto;
}

ul.list-cardsul:empty::before {
    content: 'Create a Category. Get Organised!!';
    // padding-left: 50px;
    position: absolute;
    // top: 30px;
    left: 50%;
    margin: -10px 0 0 -75px;
    opacity: 0.3;
}
ul.list-cardsul:empty::after {
    content: 'Create a Category. Get Organised!!';
    // padding-left: 50px;
    position: absolute;
    // top: 30px;
    transition: all 1s;
    left: 50%;
    margin: -10px 0 0 -75px;
    opacity: 0.3;
}

.cat-card {
    border: 1px solid $dark-grey-brown;
    box-shadow: 0 0 5px;
    border-radius: 10px;
    background-color: $darker-gold;
    height: auto;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
}

.bar {
    // border: 1px solid black;
}

.description {
    width: 100%;
    margin: auto;
    // border: 1px solid green;
    border-radius: 4px;
    box-shadow: 0 0 30px;
    background-color: mintcream;

    .category-t {
        font-size: 1.2em;
        font-variant: small-caps;
    }
}

.custom-height {
    position: relative;
    height: 40px;
    // border: 1px solid red;
    width: 100%;
}

.category-t {
    float: left;
    width: 80%;
}

.delete-cat {
    background-color: $darker-gold;
    box-shadow: 0 0 20px;
    border: 1px solid $dark-grey-brown;
    text-align: center;
    // border: 2px solid;
    position: absolute;
    // height: 100px;
    left: 81.6%;
    // float: right;
    width: 26%;
    height: inherit;
    // position: relative;
    // z-index: 2000;
    i {
        padding-top: 10px;
        font-size: 1.4em;
        color: darkred;
    }
    // margin-left: 20px;

  @include respond-to ($phone){
    left: 80.9%;
    width: 25%;
  }
}

.counters {
    // border: 1px solid blue;
    background-color: $darker-gold;
    width: 100%;
    margin: auto;
    font-weight: bold;
    color: #f2f2f2;
}

.col {
    box-sizing: border-box;
    box-shadow: 0 0 13px $dark-grey-brown;
    border: 1px solid grey;

    &:nth-child(1) {
        background-color: darkred;
    }

    &:nth-child(2) {
        background-color: $dark-gold;
    }

    &:nth-child(3) {
        background-color: forestgreen;
    }
}

.active{
  border: 2px solid #f2f2f2;
  transform: scale(1.2);
  z-index: 1000;
  transition: all .5s;
}

.counter {
    // border: 1px solid;
    text-align: center;
    padding: 2px;
    width: 100%;
}




.list-input{
  @extend .inputField;
  margin-top: 10%;
}


.modal-body, .modal-header, .modal-footer{
  background-color: $dark-cream !important;
  border: 0px solid;
}

.todo-sec{
  min-height: 100px;
  // border: 1px solid green;
  margin-bottom: 20px;
  h3{
    padding-bottom: 10px;
    border-bottom: 2px solid $dark-gold;
    border-radius: 10px;
    width: 55%;
    // margin-top: 20px;
  }
}

.list-buttons{
  @extend .counter;
}

.list-card{
  @extend .cat-card;
  // background-color: darkred;
}

.darkred{
	background-color: darkred;
}

.darkgoldenrod{
	background-color: $dark-gold;
}

.forestgreen{
	background-color: forestgreen;
}
