body {
  font-family: 'Boogaloo', cursive;
  min-width: 320px; }

.storage, .s3, .s4, .s5 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 2px solid pink;
  color: #fff;
  width: 50%;
  text-align: center; }

.s2 {
  top: 30px; }

.s3 {
  background-color: red;
  top: 60px; }

.s4 {
  top: 90px;
  background-color: forestgreen; }

.s5 {
  top: 120px;
  background-color: orange; }

.showCreated {
  width: 100%;
  position: absolute;
  top: 150px;
  background-color: #fff;
  min-height: 30px; }
  .showCreated .created {
    border: 3px solid orange;
    height: 30px;
    margin-bottom: 10px; }

.buttonPadding, .home-buttons .create, .home-buttons .load {
  padding: 20px;
  text-align: center;
  width: 100%;
  border: 0;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: all 0.5s;
  transform-origin: left;
  outline: none;
  color: #f2f2f2;
  font-weight: bold;
  text-transform: capitalize; }
  .buttonPadding:hover, .home-buttons .create:hover, .home-buttons .load:hover {
    font-weight: bold;
    color: #fff;
    background-color: #4E4A43;
    border: 1px solid #fff; }

footer, .home-footer {
  padding-top: 10px; }

.social-media {
  width: 75%;
  margin: 0 auto;
  text-transform: capitalize; }
  .social-media ul {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0 50px; }
  .social-media li {
    width: 25%;
    display: inline;
    text-align: center;
    padding: 5px;
    font-size: 1.15em; }
    @media only screen and (min-width: 345px) {
      .social-media li {
        font-size: 1.5em; } }
  .social-media p {
    padding: 10px; }

.contentBox, .home-screen .content, .create-category .content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  left: 0 !important; }

.home-screen {
  height: 100%;
  background-color: #4E4A43; }

.title {
  text-align: center;
  color: darkgoldenrod;
  width: 100%;
  margin-top: 20%; }
  @media only screen and (min-width: 345px) {
    .title {
      margin-top: 20%;
      padding-top: 0;
      padding-bottom: 20px; } }

.titles {
  width: 50%;
  margin: 0 auto; }
  .titles p {
    text-transform: capitalize; }

.underline {
  height: 50px;
  background-color: #9A9083;
  width: 30px; }

.h1-cus {
  font-size: 3em;
  width: 100%;
  text-align: right; }
  @media only screen and (min-width: 345px) {
    .h1-cus {
      font-size: 5em; } }

.h2-cus {
  font-size: 1.8em;
  width: 100%;
  text-align: left; }
  .h2-cus:nth-child(2) {
    text-align: center; }
  @media only screen and (min-width: 345px) {
    .h2-cus {
      font-size: 3em; } }

.home-buttons {
  width: 60%;
  margin: 0 auto;
  text-transform: capitalize;
  padding-top: 15px;
  font-size: 1.2em; }
  .home-buttons .create {
    background-color: #9A9083; }
  .home-buttons .load {
    background-color: #645A53; }

.home-footer {
  color: #f2f2f2; }
  @media only screen and (min-width: 345px) {
    .home-footer {
      margin-top: 10%; } }

.create-category {
  position: absolute;
  top: 100%;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #9A9083; }

.categories-header {
  width: 100%;
  text-align: center;
  color: darkgoldenrod;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px; }
  .categories-header h1 {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: #4E4A43;
    border-top: 3px solid #645A53;
    border-bottom: 3px solid #645A53; }
  .categories-header p {
    padding: 15px;
    color: #645A53;
    font-size: 0.9em;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  @media only screen and (min-width: 345px) {
    .categories-header h1 {
      margin-bottom: 30px; }
    .categories-header p {
      font-size: 1.2em !important;
      margin-bottom: 50px; } }

.create-info {
  width: 100%;
  left: 0;
  text-transform: capitalize;
  text-align: center; }

.crteBtn {
  height: 70px;
  background-color: #605947;
  margin-bottom: 2px;
  position: relative;
  z-index: 10; }
  .crteBtn .icon {
    display: inline-flex;
    width: 20%; }
    .crteBtn .icon span {
      position: relative;
      top: 2px;
      left: 40%; }
  .crteBtn p {
    display: inline-flex;
    padding-left: 50px;
    margin-top: 21px;
    width: 78%;
    position: relative;
    z-index: 1;
    text-align: center !important; }
    .crteBtn p span {
      margin-left: -37px;
      width: 100%; }
  @media only screen and (min-width: 345px) {
    .crteBtn {
      height: 100px; }
      .crteBtn p {
        margin-top: 39px; } }

.background_slide {
  position: absolute;
  height: inherit;
  z-index: -1;
  width: 20%;
  transition: all 0.5s;
  z-index: 0; }
  .background_slide:hover {
    width: 100%; }

.cat-create .background_slide {
  background-color: darkgoldenrod; }

.cat-list .background_slide {
  background-color: darkgoldenrod; }

.more {
  margin-top: -2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto; }

.sbtn {
  width: 50%;
  padding: 20px;
  background-color: #4E4A43;
  color: #f2f2f2; }
  @media only screen and (min-width: 345px) {
    .sbtn {
      height: 85px; }
      .sbtn p {
        margin-top: 14px; } }

.allCat {
  border-right: 1px solid #645A53; }

/*# sourceMappingURL=todo.css.map */
